.block{
  width: 20%;
 min-height: 100px;
  margin: 0 20px;
  padding: 20px;
  background-color: #EBECF0 ;
  border-radius: 5px;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
}
@media (max-width:768px){
  .block{
    width: 100%;
  }
}